<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Home</title>
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
 <link rel="stylesheet" type="text/css" th:href="@{/css/fichier.css}"/>
 <script type="text/javascript" th:src="@{/js/fichier.js}"></script>
</head>
<body>
<h2>Hi <span th:utext="${userName}"></span>, this is You're reclamation Page.</h2>
<form th:action="@{/home/reclamation}" method="post" >
<fieldset id="coordonnees">
  <p id="civilite"><label>Civilité : </label>
    <input type="radio" name="civilite" value="M." />M.
    <input type="radio" name="civilite" value="Mlle" />Mlle
    <input type="radio" name="civilite" value="Mme" />Mme
  </p>
  <label>Nom : </label>
    <input type="text" name="nom" size="30" /><br />
     <label>Prenom : </label>
    <input type="text" name="Prenom" size="30" /><br />
     <label>Email : </label>
    <input type="text" name="Email" size="30" /><br />
     <label>Tele : </label>
    <input type="text" name="tele" size="30" /><br />
  <label>Adresse : </label>
    <input type="text" name="adresse" size="30" /><br />
  <label>Code postal : </label>
    <input type="text" name="codepostal" size="30" /><br />
  <label>Ville : </label>
    <input type="text" name="ville" size="30" /><br />
  <p id="reclamation"><label>Type De Reclamation : </label>
   <input type="radio" name="reclamation" value="service" id = "service" />Service
   <input type="radio" name="reclamation" value="produit" id = "produit" />produit
</fieldset>
<p class="titre">Message</p>
<fieldset id="message">
  <textarea name="comments" rows="5" cols="40"></textarea>
</fieldset>
<p id="buttons">
  <input type="submit" value="Envoyer" />
  <input type="reset" value="Recommencer" />
</p>
</form>
       <a th:href="@{/logout}">Sign out</a>
   </body>
</html>